---
global:
  victorops_api_key: {{ victorops_api_key }}

route:
  receiver: 'victorops'
  routes:
    - receiver: 'victorops'

receivers:
  - name: 'victorops'
    victorops_configs:
    - routing_key: cleaninsights-prod
      state_message: {% raw %}'Alert: {{ .CommonLabels.alertname }}. Summary:{{ .CommonAnnotations.summary }}. RawData: {{ .CommonLabels }}'{% endraw %}
