*filter
:INPUT DROP [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -i lo -j ACCEPT
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p tcp -m tcp --dport 22 -j ACCEPT
-A INPUT -p tcp -m tcp --dport 80 -j ACCEPT
-A INPUT -p tcp -m tcp --dport 443 -j ACCEPT
{% for host in groups["monitoring"] %}
-A INPUT -p tcp -m tcp -s {{ hostvars[host]["wireguard_ip"] }} --dport 9100 -j ACCEPT
-A INPUT -p tcp -m tcp -s {{ hostvars[host]["wireguard_ip"] }} --dport 9104 -j ACCEPT
{% endfor %}
-A INPUT -p icmp --icmp-type 8 -j ACCEPT
COMMIT
