; {{ ansible_managed }}

; A Matomo token for authentication to enable retrograde setting of timestamps.
; Needs to be set for CIMP to work.
token_auth = '{{ cimp_token }}'

; Number of created tracking requests to send to Matomo at once.
; chunk_size = 1000

; Number of seconds to wait before retry, if Matomo responded with an error.
; delay_after_failure = 10

; Number of maximum retries on error.
; max_attempts = 3

; Set to true to have a debug output in 'ciapi.log' in the same directory.
; debug = true
