# {{ ansible_managed }}
<VirtualHost *:443>
	ServerName {{ matomo_domain }}
	DocumentRoot /var/www/matomo-{{ matomo_version }}/matomo/

	<Directory /var/www/matomo-{{ matomo_version }}/matomo/>
		Options FollowSymlinks
		AllowOverride All
		Require all granted
	</Directory>

	# https://metrics.torproject.org/web-server-logs.html
	LogFormat "0.0.0.1 - %u %{[%d/%b/%Y:00:00:00 %z]}t \"%r\" %>s %b \"%{Referer}i\" \"-\" %{Age}o" privacyssl
        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log privacyssl

        SSLEngine On
        SSLCertificateFile /etc/letsencrypt/live/{{ matomo_domain }}/fullchain.pem
        SSLCertificateKeyFile /etc/letsencrypt/live/{{ matomo_domain }}/privkey.pem
</VirtualHost>


