# {{ ansible_managed }}
<VirtualHost *:80>
	ServerName {{ matomo_domain }}

	RewriteEngine On
	RewriteRule (.*) https://%{SERVER_NAME}$1 [R,L]

	# https://metrics.torproject.org/web-server-logs.html
	LogFormat "0.0.0.0 - %u %{[%d/%b/%Y:00:00:00 %z]}t \"%r\" %>s %b \"%{Referer}i\" \"-\" %{Age}o" privacy
	ErrorLog ${APACHE_LOG_DIR}/matomo_error.log
	CustomLog ${APACHE_LOG_DIR}/matomo_access.log privacy
</VirtualHost>
